<%= render 'home/aboutme'%>

<div class="container">
    <div class="row">
            <div class="col-sm-3">
                <img src="img/me.jpg" style="width:240px;height:160px;border-radius:10px" />
            </div>    
            <div class="col-sm-9">
                <fieldset><legend><h2>Ravi Kant Pal</h1></legend></fieldset>
                <br>
                <table class="table">
                    <tr>
                        <td>Current Working Profile<b>:</b></td>
                        <td><strong>SAS - LEVEL 1 Programmer at NICSI</strong><br></td>
                    </tr>    
                    <tr>
                        <td>
                            Email<b>:</b>            
                        </td>
                        <td>
                            <strong>ravikantpal123@icloud.com</strong><br>
                            <strong>ravikantpal123@gmail.com</strong>            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hobby<b>:</b>
                        </td>
                        <td>
                            <strong>Photography , Playing Video games , learning new aspects of web technology
                                , watching cricket , listening music , blogging
                            </strong>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Server Side Languages Known<b>:</b>    
                        </td>
                        <td>
                            <strong>C# , Ruby , Python</strong>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            FrameWorks Known<b>:</b> 
                        </td>
                        <td>
                            <strong>asp.Net , Rails , asp.NET MVC  </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Database interaction<b>:</b> 
                        </td>
                        <td>
                            <strong>MS sql Server 2012 , Postgres , Mysql</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Client Side Languages<b>:</b> 
                        </td>
                        <td>
                            <strong>JavaScript , Bootstrap , ajax , jQuery , React , Angular , html</strong>
                        </td>
                    </tr>
                </table>
                 
                
                
                                
            </div>
    </div>
</div>