<%= render 'home/aboutme'%>
<style>

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

</style>
<div class="container">
    <div class="row">
            <div class="col-sm-3">
                
                <img id="myImg" src="img/me1.jpg" alt="Ravi_Kant_Pal" style="width:240px;height:160px;border-radius:10px" />
                
            </div>    
            <div class="col-sm-9">
                <fieldset><legend><h2>Ravi Kant Pal</h1></legend></fieldset>
                <br>
                <table class="table">
                    <tr>
                        <td>Current Working Profile<b>:</b></td>
                        <td><strong>SAS - LEVEL 1 Programmer at NICSI</strong><br></td>
                    </tr>    
                    <tr>
                        <td>
                            Email<b>:</b>            
                        </td>
                        <td>
                            <strong>ravikantpal123@icloud.com</strong><br>
                            <strong>ravikantpal123@gmail.com</strong>            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hobby<b>:</b>
                        </td>
                        <td>
                            <strong>Photography , Playing Video games , learning new aspects of web technology
                                , watching cricket , listening music , blogging
                            </strong>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Server Side Languages Known<b>:</b>    
                        </td>
                        <td>
                            <strong>C# , Ruby , Python</strong>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            FrameWorks Known<b>:</b> 
                        </td>
                        <td>
                            <strong>asp.Net , Rails , asp.NET MVC  </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Database interaction<b>:</b> 
                        </td>
                        <td>
                            <strong>MS sql Server 2012 , Postgres , Mysql</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Client Side Languages<b>:</b> 
                        </td>
                        <td>
                            <strong>JavaScript , Bootstrap , ajax , jQuery , React , Angular , html</strong>
                        </td>
                    </tr>
                </table>
                 
                
                
                                
            </div>
    </div>
</div>

<div id="myModal" class="modal">
    
  <span style="margin-top:100px" class="close">&times;</span>
  <img class="modal-content" style="margin-top:80px" id="img01">
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>
