<%= render 'home/aboutme'%>

<div class="container">
    <div class="row">
            <div class="col-sm-3">
                <img src="img/me.jpg" style="width:240px;height:160px;border-radius:10px" />
            </div>    
            <div class="col-sm-9">
                <fieldset><legend><h2>Ravi Kant Pal</h1></legend></fieldset>
                <br>
                <table class="table">
                    <tr>
                        <td>Current Working Profile <b>:</b></td>
                        <td><strong>SAS - LEVEL 1 Programmer at NICSI</strong><br></td>
                    </tr>    
                    <tr>
                        <td>
                            Email <b>:</b>            
                        </td>
                        <td>
                            <strong>ravikantpal123@icloud.com</strong><br>
                            <strong>ravikantpal123@gmail.com</strong>            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hobby <b>:</b>
                        </td>
                        <td>
                            <strong>Photography , Playing Video games , learning new aspects of web technology
                                , watching cricket , listening music , blogging
                            </strong>
                        </td>
                    </tr>
                </table>
                 
                
                
                                
            </div>
    </div>
</div>