<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/testicon.png">

    <title>Ravi Kant Pal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="project/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link href="project/css/grayscale.min.css" rel="stylesheet">
    <script>
        // Window on load function create 
    </script>

  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <%=link_to "Go Back",root_path(:back =>'true') ,class: "navbar-brand " %>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 id="proj_head" >Grayscale</h2>
              <p class="intro-text" id="proj_content" >A free, responsive, one page Bootstrap theme.
                </p>
              <!--<a href="#about" class="btn btn-circle js-scroll-trigger">-->
              <!--  <i class="fa fa-angle-double-down animated"></i>-->
              <!--</a>-->
            </div>
          </div>
        </div>
      </div>
    </header>

  

    <!-- Bootstrap core JavaScript -->
    <script src="project/vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="project/vendor/jquery-easing/jquery.easing.min.js"></script>

  
  </body>

</html>
